{
  "presets":[
    "latest",
    "stage-2",
    "react",
  ],  
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
            "generateScopedName": "[hash:8]",
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
